@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Toastify__toast--error {
  font-size: small;
  border: none;
  color: #ac2727 !important;
  border-radius: 5px !important;
  background: #fae1e2 !important;
}

.Toastify__toast--success {
  font-size: small;
  border: none;
  color: #259634 !important;
  border-radius: 5px !important;
  background: #e7fae1 !important;
}

.Toastify__toast--warning {
  font-size: small;
  border: none;
  color: #85862a !important;
  border-radius: 5px !important;
  background: #f1fcb4 !important;
}

.grabbingColumns {
  max-height: 50rem;
}

.grabbingColumns::-webkit-scrollbar {
  width: 2px;
}

#dropDiv::-webkit-scrollbar {
  width: 4px;
  background: rgb(116, 116, 116);
}

#actList::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: rgb(116, 116, 116);
}

.notesCanvas {
  padding-left: 10ch;
  height: 70ch;
  overflow-y: scroll;
}

.notesCanvas::-webkit-scrollbar {
  width: 4px;
  border-radius: 10px;
}

/* Inputs */

.input-pack {
  display: flex;
  flex-direction: column;
  margin: 3ch auto;
  text-align: start;
}

.input-label {
  font-size: small;
  text-transform: capitalize;
  margin: 1ch 0;
  color: #e4e4e4;
}

.input {
  padding: 2ch;
  width: 45ch;
  border: none;
  color: #b2b2b2;
  border-bottom: 2px solid rgb(22, 146, 255);
  background-color: #ececec;
  border-radius: 6px;
  outline: none;
  font-size: small;
}

.input:focus {
  outline: none;
}

/* Button */

.button {
  text-decoration: none;
  border: 1px solid #2e2e2e;
  padding: 1ch;
  background: white;
  transition: all 0.3s ease-in-out;
  color: #2e2e2e;
  text-transform: uppercase;
  display: flex;
  margin: 0 auto;
}

.button:hover {
  background: #2e2e2e;
  color: white;
  transition: all 0.3s ease-in-out;
}

.assetColumn::-webkit-scrollbar {
  width: 0;
}
